<main class="container-fluid px-3">
  <div class="row text-center">
    <h2 class="titulo mt-3">Crie sua conta!</h2>
  </div>
  <div class="container col-xl-12 col-xxl-12 py-2">
    <div class="row align-items-center py-2">
      <div class="col">
        <h3>
          <strong class="text-muted">
            <i class="fas fa-sign-in-alt"></i> Formulário de
            <strong>Cadastro</strong><br />
          </strong>
        </h3>
        <p>
          Os dados serão utilizados apenas de forma agregada para fins
          estatísticos.
        </p>
      </div>
    </div>
  </div>
  <form
    [formGroup]="formCadastro"
    (ngSubmit)="cadastrarPessoa()"
    class="form-floating needs-validation"
    name="cadastro"
    role="form"
    novalidate>
    <div class="container col-xl-12 col-xxl-12 py-4">
      <div class="row">
        <div class="row mb-3">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-floating">
              <select
                formControlName="tipopessoa"
                (change)="selecionaTipoPessoa()"
                [ngClass]="control(this.formCadastro.get('tipopessoa'))"
                class="form-select"
                id="tipoPessoa"
                aria-label="Pessoa Física/Jurídica"
                required>
                <option
                  class="text-secondary"
                  selected
                  [disabled]="true"
                  value="">
                  Selecione uma opção
                </option>
                <option value="F">FÍSICA</option>
                <option value="J">JURÍDICA</option>
              </select>
              <div class="invalid-feedback">
                Pessoa (FÍSICA/JURÍDICA é obrigatório!
              </div>
              <label for="tipoPessoa" class="text-secondary"
                >Pessoa Física/Jurídica
                <strong class="text-danger">*</strong></label
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div
            *ngIf="this.tipoPessoa !== ''"
            class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  formControlName="cpfcnpj"
                  [ngClass]="control(this.formCadastro.get('cpfcnpj'))"
                  (maskFilled)="existeCPFCNPJ()"
                  mask="{{
                    this.tipoPessoa === 'J'
                      ? '00.000.000/0000-00'
                      : '000.000.000-00'
                  }}"
                  type="text"
                  class="form-control"
                  id="cpfcnpj"
                  placeholder="Digite seu CPF
                {{ this.tipoPessoa === 'J' ? 'CNPJ' : 'CPF' }}" />
                <label class="text-secondary" for="cpfcnpj"
                  >Digite seu {{ this.tipoPessoa === 'J' ? 'CNPJ' : 'CPF' }}
                  <strong class="text-danger">*</strong></label
                >
                <div
                  *ngIf="this.formCadastro.get('cpfcnpj')?.hasError('required')"
                  class="invalid-feedback">
                  {{ this.tipoPessoa === 'J' ? 'CNPJ' : 'CPF' }} é obrigatório.
                </div>
                <div
                  *ngIf="
                    this.formCadastro.get('cpfcnpj')?.hasError('cpfcnpjInvalid')
                  "
                  class="invalid-feedback">
                  {{ this.tipoPessoa === 'J' ? 'CNPJ' : 'CPF' }} inválido.
                </div>
                <div
                  *ngIf="
                    this.formCadastro.get('cpfcnpj')?.hasError('cpfcnpjError')
                  "
                  class="invalid-feedback">
                  {{ this.tipoPessoa === 'J' ? 'CNPJ' : 'CPF' }} já existe na
                  base de dados.
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  formControlName="email"
                  [ngClass]="control(this.formCadastro.get('email'))"
                  (blur)="existeEmail()"
                  maxlength="256"
                  type="text"
                  class="form-control"
                  id="email"
                  name="username"
                  autocomplete="username"
                  placeholder="Digite seu E-mail" />
                <label class="text-secondary" for="email"
                  >Digite seu E-mail
                  <strong class="text-danger">*</strong></label
                >
                <div
                  *ngIf="this.formCadastro.get('email')?.hasError('errorEmail')"
                  class="invalid-feedback">
                  E-mail já existe na base de dados!
                </div>
                <div
                  *ngIf="this.formCadastro.get('email')?.hasError('pattern')"
                  class="invalid-feedback">
                  E-mail inválido!
                </div>
                <div
                  *ngIf="this.formCadastro.get('email')?.hasError('required')"
                  class="invalid-feedback">
                  E-mail é obrigatório!
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  formControlName="nome"
                  [ngClass]="control(this.formCadastro.get('nome'))"
                  type="text"
                  class="form-control text-uppercase"
                  id="nome"
                  placeholder="Digite seu nome completo" />
                <label class="text-secondary" for="nome"
                  >Digite seu nome completo
                  <strong class="text-danger">*</strong></label
                >
                <div
                  *ngIf="this.formCadastro.get('nome')?.hasError('nomeError')"
                  class="invalid-feedback">
                  Digite seu nome completo!
                </div>
                <div
                  *ngIf="this.formCadastro.get('nome')?.hasError('pattern')"
                  class="invalid-feedback">
                  O nome não pode ter números ou caracteres especiais!
                </div>
              </div>
            </div>
          </div>

          <!--CAMPO CNPJ-->
          <div
            *ngIf="this.tipoPessoa === 'J'"
            class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  [ngClass]="control(this.formCadastro.get('razaosocial'))"
                  formControlName="razaosocial"
                  type="text"
                  class="form-control text-uppercase"
                  id="razaosocial"
                  placeholder="Digite a Razão Social" />
                <label class="text-secondary" for="razaosocial"
                  >Digite a razão social
                  <strong class="text-danger">*</strong></label
                >
                <div class="invalid-feedback">Razão Social é obrigatório.</div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  formControlName="password"
                  [ngClass]="calculaForca()"
                  maxlength="255"
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Digite uma senha"
                  autocomplete="new-password" />
                <h5
                  (click)="mostrarEsconderPassword($event.target)"
                  id="olhoPassword"
                  class="bi bi-eye-fill"></h5>
                <label class="text-secondary" for="senha"
                  >Senha <strong class="text-danger">*</strong></label
                >
                <div
                  *ngIf="
                    this.formCadastro.get('password')?.hasError('required')
                  "
                  class="invalid-feedback">
                  A Senha é obrigatória.
                </div>
                <div
                  *ngIf="
                    this.formCadastro.get('password')?.hasError('minlength')
                  "
                  class="invalid-feedback">
                  A Senha deve ter pelo menos 8 caracteres!
                </div>
                <p *ngIf="this.isProgress" class="m-0 text-secondary">
                  Nível de segurança:
                </p>
                <div *ngIf="this.isProgress" class="progress">
                  <div
                    [ngClass]="barraDeProgressoForcaPassword()"
                    id="progressPassword"
                    role="progressbar"
                    style="width:{{ this.tamanhoProgress}}%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    {{ this.mensagemProgress }}
                  </div>
                </div>
                <p
                  *ngIf="this.isProgress"
                  class="m-0 text-muted"
                  style="font-size: 14px">
                  Evite usar senhas fáceis de adivinhar.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  formControlName="confirmapassword"
                  [ngClass]="control(this.formCadastro.get('confirmapassword'))"
                  maxlength="255"
                  type="password"
                  class="form-control"
                  id="newPassword"
                  placeholder="Confirme sua senha"
                  autocomplete="new-password" />
                <h5
                  (click)="mostrarEsconderPassword($event.target)"
                  id="olhoNewPassword"
                  class="bi bi-eye-fill"></h5>
                <label class="text-secondary" for="confirmaSenha"
                  >Confirmar senha <strong class="text-danger">*</strong></label
                >
                <div
                  *ngIf="
                    this.formCadastro
                      .get('confirmapassword')
                      ?.hasError('required')
                  "
                  class="invalid-feedback">
                  Confirme sua Senha.
                </div>
                <div
                  *ngIf="
                    this.formCadastro
                      .get('confirmapassword')
                      ?.hasError('equalsPassword') &&
                    !this.formCadastro
                      .get('confirmapassword')
                      ?.hasError('required')
                  "
                  class="invalid-feedback">
                  As Senhas devem ser iguais.
                </div>
              </div>
            </div>
          </div>

          <!--CAMPO CNPJ-->
          <div
            *ngIf="this.tipoPessoa === 'J'"
            class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  class="text-uppercase"
                  formControlName="cargo"
                  type="text"
                  class="form-control text-uppercase"
                  id="cargo"
                  placeholder="Digite seu cargo" />
                <label class="text-secondary" for="cargo"
                  >Digite seu cargo
                </label>
              </div>
            </div>
          </div>

          <!--CAMPO CNPJ-->
          <div
            *ngIf="this.tipoPessoa === 'J'"
            class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-floating mb-3">
              <select
                required
                [ngClass]="control(this.formCadastro.get('tipoinstituicao'))"
                formControlName="tipoinstituicao"
                class="form-select"
                id="tipoinstituicao"
                value="">
                <option class="text-secondary" selected disabled value="">
                  Selecione uma opção
                </option>
                <option class="text-secondary" selected disabled value="">
                  TESTE 1
                </option>
                <option class="text-secondary" selected disabled value="">
                  TESTE 2
                </option>
                <option class="text-secondary" selected disabled value="">
                  TESTE 3
                </option>
              </select>
              <div class="invalid-feedback">
                Tipo de Intituição é obrigatório!
              </div>
              <label for="tipoinstituicao" class="text-secondary"
                >Tipo de Intituição
                <strong class="text-danger">*</strong></label
              >
            </div>
          </div>

          <div
            *ngIf="this.tipoPessoa === 'F'"
            class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-floating mb-3">
              <select
                required
                [ngClass]="control(this.formCadastro.get('sexo'))"
                formControlName="sexo"
                class="form-select"
                id="sexo">
                <option
                  class="text-secondary"
                  selected
                  [disabled]="true"
                  value="">
                  Selecione uma opção
                </option>
                <option value="M">MASCULINO</option>
                <option value="F">FEMININO</option>
              </select>
              <div class="invalid-feedback">Sexo é obrigatório!</div>
              <label for="sexo" class="text-secondary"
                >Sexo <strong class="text-danger">*</strong></label
              >
            </div>
          </div>

          <div
            *ngIf="this.tipoPessoa === 'F'"
            class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-floating mb-3">
              <select
                required
                [ngClass]="control(this.formCadastro.get('escolaridade'))"
                formControlName="escolaridade"
                class="form-select"
                id="escolaridade">
                <option
                  class="text-secondary"
                  selected
                  [disabled]="true"
                  value="">
                  Selecione uma opção
                </option>
                <option value="SEM INSTRUÇÃO FORMAL">
                  SEM INSTRUÇÃO FORMAL
                </option>
                <option value="ENSINO FUNDAMENTAL">ENSINO FUNDAMENTAL</option>
                <option value="ENSINO MÉDIO">ENSINO MÉDIO</option>
                <option value="ENSINO SUPERIOR">ENSINO SUPERIOR</option>
                <option value="PÓS-GRADUAÇÃO">PÓS-GRADUAÇÃO</option>
                <option value="MESTRADO/DOUTORADO">MESTRADO/DOUTORADO</option>
              </select>
              <div class="invalid-feedback">Escolaridade é obrigatório!</div>
              <label for="escolaridade" class="text-secondary"
                >Escolaridade <strong class="text-danger">*</strong></label
              >
            </div>
          </div>

          <!--LOCALIZAÇÃO-->
          <div class="col-lg-12 col-md-12 col-sm-12 mt-3 mb-1">
            <h6>
              <strong class="text-muted">
                <i class="bi bi-geo-alt-fill"></i> Localização
              </strong>
            </h6>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  [ngClass]="control(this.formCadastro.get('cep'))"
                  (maskFilled)="getEndereco()"
                  (keyup)="
                    this.formCadastro.get('cep')?.value?.length < 8
                      ? this.limparEndereco()
                      : ''
                  "
                  formControlName="cep"
                  mask="00000-000"
                  type="text"
                  class="form-control"
                  id="cep"
                  placeholder="Digite seu CEP" />
                <label class="text-secondary" for="cep"
                  >Digite seu CEP <strong class="text-danger">*</strong></label
                >
                <div
                  *ngIf="this.formCadastro.get('cep')?.hasError('required')"
                  class="invalid-feedback">
                  CEP é obrigatório.
                </div>
                <div
                  *ngIf="!this.formCadastro.get('cep')?.hasError('required')"
                  class="invalid-feedback">
                  CEP inválido.
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  readonly
                  formControlName="logradouro"
                  maxlength="255"
                  type="text"
                  class="form-control text-uppercase"
                  id="logradouro"
                  placeholder="Logradouro" />
                <label class="text-secondary" for="logradouro"
                  >Logradouro <strong class="text-danger">*</strong></label
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  [ngClass]="control(this.formCadastro.get('numero'))"
                  formControlName="numero"
                  maxlength="10"
                  type="text"
                  class="form-control text-uppercase"
                  id="numero"
                  placeholder="Número" />
                <div class="invalid-feedback">Número é obrigatório!</div>
                <label class="text-secondary" for="numero"
                  >Número <strong class="text-danger">*</strong></label
                >
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-8 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  readonly
                  formControlName="bairro"
                  maxlength="255"
                  type="text"
                  class="form-control text-uppercase"
                  id="bairro"
                  placeholder="Bairro" />
                <label class="text-secondary" for="bairro"
                  >Bairro <strong class="text-danger">*</strong></label
                >
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  readonly
                  formControlName="cidade"
                  maxlength="255"
                  type="text"
                  class="form-control text-uppercase"
                  id="cidade"
                  placeholder="Cidade" />
                <label class="text-secondary" for="cidade"
                  >Cidade <strong class="text-danger">*</strong></label
                >
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  required
                  readonly
                  formControlName="uf"
                  maxlength="2"
                  type="text"
                  class="form-control text-uppercase"
                  id="uf"
                  placeholder="UF" />
                <label class="text-secondary" for="uf"
                  >UF <strong class="text-danger">*</strong></label
                >
              </div>
            </div>
          </div>

          <!--TELEFONES-->
          <div class="col-lg-12 col-md-12 col-sm-12 mt-3 mb-1">
            <h6>
              <strong class="text-muted">
                <i class="bi bi-telephone-fill"></i> Telefones
              </strong>
            </h6>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  formControlName="celular"
                  mask="(00) 0 0000-0000"
                  type="text"
                  class="form-control"
                  id="celular"
                  placeholder="Telefone Celular" />
                <label class="text-secondary" for="celular"
                  >Telefone Celular
                </label>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  formControlName="fixo"
                  mask="(00) 0000-0000"
                  type="text"
                  class="form-control"
                  id="fixo"
                  placeholder="Telefone Celular" />
                <label class="text-secondary" for="fixo">Telefone Fixo</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="d-grid gap-2">
                <button class="btn btn-primary mb-2 mt-2" type="submit">
                  <span>Enviar</span>
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="d-grid gap-2">
                <button
                  (click)="clean()"
                  class="btn btn-secondary mb-2 mt-2"
                  type="button"
                  id="cleanForm">
                  Limpar formulário
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
